<!-- include header -->
<%- include('blocks/_header') %>

<!-- include navigation -->
<%- include('blocks/_navigation') %>

<!-- include hero -->
<%- include('blocks/_hero') %>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <!-- include recipe -->
        <%- include('blocks/_recipe') %>

    </div>
</section>

<!-- include footer -->
<%- include('blocks/_footer') %>
